svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }

body{
  background-color: #D59B38;
}
  .ctainer {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
  }

.home-margin{
    padding-top:70px;
    position:relative;
    z-index: 2;
}

.arrow {
    cursor: pointer;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .section{
    margin: auto;
    width: 60%;
  }

section{
  padding:5% 5% 0 5%;
}

.nav-pills > li > a.active {
  background-color: #aabed3 !important;
  color: black !important;
}

#scrollspyHeading2{
  padding-top:100px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
 * {
	 box-sizing: border-box;
}
 body {
	 height: 100%;
	 font-family: 'Roboto', sans-serif;
	 text-align: center;
	 font-size: 22px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-color: #aabed3;
  position: relative;
  width: 80vw;
  max-width: 120em;
  min-height: 25em;
  border-radius: 0.6em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
  display: flex;
}
.testimonial-container {
  width: 75%;
  height: 100%;
  margin: auto;
  padding: 1.8em 1.2em;
}
.wrapper button {
  font-size: 1.8em;
  height: 2.2em;
  width: 2.2em;
  background-color: #ffffff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
  color: black;
  box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
  cursor: pointer;
  border-radius: 50%;
}
button#next {
  right: -1.1em;
}
button#prev {
  left: -1.1em;
}
.testimonial-container p {
  color: black;
  font-size: 0.9em;
  line-height: 2em;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 650px) {
  .wrapper {
    font-size: 14px;
  }
}

.marquee2 {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-20% + var(--offset));
  --move-final: calc(-40% + var(--offset));
}

.marquee__inner2 {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(0, 0, 0);
  animation: marquee2 12s linear infinite;
  animation-play-state: play;
  color: #1a1a1a;
  font-family: 'Noctis Bold';
}

.marquee2 span {
  color: black;
  font-weight: 300;
  padding: 0 2vw;
}

.marquee2:hover .marquee__inner2 {
  animation-play-state: paused;
}

@keyframes marquee2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

 